.footer {
    position: inherit;
    width: 100%;
    text-align: center;
    height: auto;
    padding: 3em 0 3em 0;
    margin-top: auto;
    background-color: black;
    img {
        margin-bottom: 2em;
    }
    p {
        color: white;
        font-size: 24px;
    }
}