.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.linkNav {
    display: flex;
    column-gap: 3em;
}

.linkNavA {
    color: #ff6060;
    font-size: 24px;
    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 850px) {
    .linkNav {
        column-gap: 1em;
    }
}